@font-face {
    font-family: "Roboto";
    src: url("static/font/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "Roboto", sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 1920px;
    height: 1080px;
}

.workArea {
    position: relative;
    width: 1920px;
    height: 1080px;
    
    background-size: cover;
    background-repeat: no-repeat;
}

.titrs {
    width: 1600px;
    height: 28px;
    position: absolute;
    bottom: 170px;
    left: 90px;

    display: flex;
    justify-content: space-between;
}

.ownerBlock {
    position: relative;
    width: 180px;
    height: 28px;

    background-color: rgba(74, 74, 74, 0.32);
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.testHeart {
    width: 18px;
    height: 18px;
    background-image: url("/static/img/heart2.png");
    background-position: center;
    background-size: 18px 18px;

    margin-left: 80px;

    animation-duration: 0.5s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
}

.ownerBlock p {
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 40px;
}


@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}